@import url("https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@1,300&display=swap");
.font {
  font-family: "Montserrat Alternates", sans-serif;
}
.mainColor {
  background-color: rgb(9, 15, 19);
}
.change:hover {
  color: rgb(53, 53, 255) !important;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
}
.position {
  position: fixed;
  z-index: 3;
  width: 100%;
}
